SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8090

DB_URL=jdbc:postgresql://localhost:5432/authservice
DB_USER=postgres
DB_PASS=postgres

JWT_SECRET=secret-key-change-me
JWT_EXPIRATION_MS=3600000
JWT_ISSUER=authservice-api
