SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8070

AUTHSERVICE_BASE_URL=http://localhost:8090
CONVERSIONFLOW_BASE_URL=http://localhost:8080

GATEWAY_DEFAULT_CONNECT_TIMEOUT_MS=1000
GATEWAY_DEFAULT_RESPONSE_TIMEOUT_MS=4000ms
GATEWAY_AUTH_CONNECT_TIMEOUT_MS=1000
GATEWAY_AUTH_RESPONSE_TIMEOUT_MS=3000
GATEWAY_CONVERSIONFLOW_CONNECT_TIMEOUT_MS=1000
GATEWAY_CONVERSIONFLOW_RESPONSE_TIMEOUT_MS=4000
GATEWAY_CONVERSIONFLOW_RETRY_ATTEMPTS=1

GATEWAY_ADMIN_USER=gateway-admin
GATEWAY_ADMIN_PASS=change-me
